
{% extends "blog/base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <h1>Личный кабинет</h1>

    {% if posts_pub %}
        <h2>Мои опубликованиые рецепты: </h2>
        {% for post in posts_pub %}
            <h3><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
        {% endfor %}
    {% endif %}
    {% if posts_draft %}
        <h2>Мои не опубликованиые рецепты: </h2>
        {% for post in posts_draft %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.short_descriptions }}</p>
        {% endfor %}

    {% endif %}


{% endblock %}