{% extends "blog/base.html" %}
{% block title %}
    Логин
{% endblock title %}

{% block content %}
    <div class="container text-center sign-in">
        <form action="." class="form-sign-in login-form" method="post">
<h1 class="h3 mb-3 font-weight-normal">Пожалуйста авторизируйтесь</h1>
<label for="inputLogin" >Логин</label>
            {{ form.username }}
<label for="inputPassword" >Пароль</label>
            {{ form.password }}
            {% csrf_token %}
            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Войти
            </button>
        </form>
    </div>
{% endblock content %}