{% extends "blog/base.html" %}{% load bootstrap %}
{% block title %}
Логін
{% endblock title %}
{% block content %}
<div class="container text-center sign-in">
        {% if form.errors %}
    <p>Неправильно введено логін або пароль</p>
        {% else %}
    <h1 class="h3 mb-3 font-weight-normal">Авторизація</h1>
        {% endif %}
    <form action="{% url 'blog:login' %}" class="form-sign-in login-form" method="post" >
            {{ form.username|bootstrap }}
            {{ form.password|bootstrap }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
        <button class="btn btn-lg btn-primary mt-2" type="submit" >
                Увійти
        </button>
        <a href="{% url 'blog:sign-up' %}" class="btn btn-lg btn-dark mt-2" > Створити акаунт </a>
        </form>
</div>
{% endblock content %}